
@media screen and (max-width: 1500px) 
{
    header {
        padding: 15px 40px;
    }
    :root {
        --big-font: 3.5rem;
        --h2-font: 2rem;
    }
}

 @media screen and (max-width: 1362px) 
{
    section {
        padding: 50px 8%;
    }
    #menu-icon {
        display: initial;
        color: var(--text-color);
  } 
    header .navbar {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        z-index: -1;
        transition: .3s;
    }
    header .navbar.active {
        top: 70px;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
    }
    .container {
        display: flex;

    }
    .col {
        width: 50%;
        padding-bottom: 2.5rem;
    }
}

@media screen and (max-width: 1130px) 
{
    .container-service {
        display: block;
    }
    .container-service .service-box {
        margin-left: 1rem;
    }
}


@media screen and (max-width: 950px) 
{
    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    .container-service {
        display: flex;
        flex-direction: column;
    }
    .container-service .service-box {
        margin: 1rem auto;
    }
 }

 @media screen and (max-width: 740px) 
{
    header {
        font-size: 10px 16px;
    }
    .home {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img {
        order: 2;
    }
    .col {
        width: 50%;
    }
   section {
       padding: 100px 7%;
   }
} 

@media screen and (max-width: 520px) 
{
  .col{
        width: 100%;  
    }
}  
